{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br>
	<a class="btn btn-default" href="/">Go Back</a>
	<hr>
	<h2 class="page-header">{{todo.name}}</h2>
	<ul class="list-group">
	<li class="list-group-item">File Type: {{todo.fileType}}</li>
	</ul>
{% endblock %}