{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br>
	<h2 class="page-header">Please Upload a file</h2>
	{{form_start(form.sample)}}
	{{form_widget(form.sample)}}
	{{form_end(form.sample)}}
{% endblock %}